html , body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    width: 100%;
    height: 100%;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/855ed6e2-d9f1-4afd-90da-96023ec747c3/85eb5b91-25ed-4965-ace9-ba8e4a0ead8d/IN-en-20230828-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    background-size: contain;
    object-fit: cover;
}

.wrapper .overlay{
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.5);
    z-index: 1;
}

.header{
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn button{
    padding: 10px 25px;
    border: none;
    background-color: red;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    font-size: 15px;
}

.header img{
    width: 300px;
    height: 120px;
    mix-blend-mode:lighten;
}


.content{ 
   margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.content h1{
    font-size: 3rem;
    line-height: 10px;
}